.search-result {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-result .search-bar {
  width: 100%;
  padding: 2% 0;
  top: 0;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  background-color: rgb(183, 229, 246);
}

.search-result .search-bar .search-bar-wrapper {
  width: 50%;
}

.search-result .results {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.search-result .pagination-wrapper {
  margin: 5rem 0;
  text-align: center;
  line-height: 2.5rem;
;
}

.search-result .results > * {
  margin-top: 1%;
}
