.selectors {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 30px;
  cursor: grab;
  border: 1px solid rgba(var(--dark-color));
  height: 2rem;
}

.selectors .selected {
  background: rgba(var(--dark-color));
  border-radius: 30px;
  padding: 7px 0;
  transition: background-color 0.5s ease;
}

.selectors .selected a {
  height: 100%;
  background: var(--selected-tag);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.selectors .anchor a {
  color: rgba(var(--default-anchor-color));
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 500;
}
