.card-wrapper {
  max-width: calc(100vw - 82px);
  width: 100%;
  height: fit-content;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(227, 227, 227, 1);
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  overflow: hidden;
}

.card-wrapper .image {
  min-width: 94px;
  width: 94px;
  height: 141px;
}

.card-wrapper .detail {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-wrapper .owned-button {
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.card-wrapper .image img {
  width: 100%;
  height: 100%;
}

.card-wrapper .detail .title {
  display: flex;
  flex-direction: column;
  text-align: initial;
}

.card-wrapper .detail .release_date {
  white-space: nowrap;
  color: #999;
}

.card-wrapper .detail h4 {
  margin: 0;
}

.card-wrapper .detail .overview {
  text-align: left;
}

.card-wrapper .detail p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
